{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<!-- Start: Heading -->
<section class="breadcrumb-section">
    <div class="container pl-3 pr-3 p-sm-3 ">
      <div class="row">
        <div class="col-12">
          <!-- <h2 class="text-dark">Product</h2> -->
          <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/">Home</a>
            <span class="breadcrumb-item active">Product</span>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End: Heading -->


<div class="container gallery-container">

    <h1>Our Product</h1>

    <!-- <p class="page-description text-center">Thumbnails With Title And Description</p> -->
    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" >
                        <img src="/static/image/Products/800x600/centralized-lubrication-system.jpg" width="100%">
                    </a>
                    <div class="caption ">
                        <h3 class="text-muted">Centralized Lubrication System</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                        <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>

                     </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" >
                        <img src="/static/image/Products/800x600/Chain Pulley Block.jpg" width="100%" >
                    </a>
                    <div class="caption">
                        <h3 class="text-muted">Chain Pulley Block</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                        <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" >
                        <img src="/static/image/Products/800x600/Chain-link.jpg" width="100%" >
                    </a>
                    <div class="caption">
                        <h3 class="text-muted">Chain Link</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                        <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" >
                        <img src="/static/image/Products/800x600/Fastner.jpg" width="100%" >
                    </a>
                    <div class="caption">
                        <h3 class="text-muted">Fastner</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                        <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox">
                        <img src="/static/image/Products/800x600/Flexco_Rivet-Fastener.jpg" width="100%" >
                    </a>
                    <div class="caption">
                        <h3 class="text-muted">Flexco Rivet Fastener</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                        <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox">
                        <img src="/static/image/Products/800x600/forged-link (Rud).jpg" width="100%" >
                    </a>
                    <div class="caption">
                        <h3 class="text-muted">Forged Link (Rud)</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                        <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <a class="lightbox">
                      <img src="/static/image/Products/800x600/HT NUT and BOLT.jpg" width="100%">
                  </a>
                  <div class="caption">
                      <h3 class="text-muted">HT NUT and BOLT</h3>
                      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                      <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                  </div>
              </div>
           </div>

           <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Hydraulic Jack & Pump.jpg" width="100%">
                </a>
                <div class="caption">
                    <h3 class="text-muted">Hydraulic Jack & Pump</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Hydraulic Machine.jpg" width="100%" >
                </a>
                <div class="caption">
                    <h3 class="text-muted">Hydraulic Machine</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Idler for conveyour.jpg" width="100%" >
                </a>
                <div class="caption">
                    <h3 class="text-muted">Idler For Conveyour</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/ITW Chemin Grease.jpg" width="100%" >
                </a>
                <div class="caption">
                    <h3 class="text-muted">ITW Chemin Grease</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Lifter.jpg" width="100%" >
                </a>
                <div class="caption">
                    <h3 class="text-muted">Lifter</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Rolling Shutter.jpg" width="100%" >
                </a>
                <div class="caption">
                    <h3 class="text-muted">Rolling Shutter</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Scraper (Flexco).jpg" width="100%" >
                </a>
                <div class="caption">
                    <h3 class="text-muted">Scraper (Flexco)</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Seal for Hydraulic.jpg" width="100%" >
                </a>
                <div class="caption">
                    <h3 class="text-muted">Seal For Hydraulic</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a class="lightbox">
                    <img src="/static/image/Products/800x600/Tracker.jpg" width="100%">
                </a>
                <div class="caption">
                    <h3 class="text-muted">Tracker</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                </div>
            </div>
          </div>

        </div>

    </div>

</div>

 <!-- end : image service -->


{% endblock body %}
