{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}

         <!-- Start: breadcrumb -->
         <section class="breadcrumb-section">
            <div class="container pl-3 pr-3 p-sm-3 ">
              <div class="row">
                <div class="col-12">
                  <!-- <h2>Service</h2> -->
                  <nav class="breadcrumb">
                    <a style="text-decoration: none" class="breadcrumb-item"  href="/">Home</a>
                    <span class="breadcrumb-item active">Service</span>
                  </nav>
                </div>
              </div>
            </div>
          </section>
            <!-- End: breadcrumb -->
  
            <!-- 1. Start: service image -->
           
      <div class="container gallery-container">

        <h1>Our services</h1>
    
        <!-- <p class="page-description text-center">Thumbnails With Title And Description</p> -->
        
        <div class="tz-gallery">
    
            <div class="row">
    
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" >
                            <img src="/static/image/service/800x600/Lathe work.jpg" width="100%">
                        </a>
                        <div class="caption ">
                            <h3 class="text-muted">Machining Works</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                            <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
    
                         </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" >
                            <img src="/static/image/service/800x600/welding work.jpg" width="100%">
                        </a>
                        <div class="caption">
                            <h3 class="text-muted">Welding work</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                            <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" >
                            <img src="/static/image/service/800x600/Reapring of Gear Box.jpg" width="100%">
                        </a>
                        <div class="caption">
                            <h3 class="text-muted">Reapring of Gear Box</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                            <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" >
                            <img src="/static/image/service/800x600/Hydraulic Machine.jpg" width="100%" >
                        </a>
                        <div class="caption">
                            <h3 class="text-muted">Hydraulic Machine</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                            <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <a class="lightbox" >
                          <img src="/static/image/service/800x600/Repairing Of All Types of Power  Tool.jpg" width="100%">
                      </a>
                      <div class="caption ">
                          <h3 class="text-muted">Repairing Of All Types of Power Tool</h3>
                          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                          <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
  
                       </div>
                  </div>
              </div>

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox">
                            <img src="/static/image/service/800x600/Repairing Of All Chain Pully Block.jpg" width="100%" >
                        </a>
                        <div class="caption">
                            <h3 class="text-muted">Repairing Of All Chain Pully Block</h3>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                            <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                        </div>
                    </div>
                </div>
               
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                      <a class="lightbox">
                          <img src="/static/image/service/800x600/Repairing Of All of Hydraulic Jack & Pump.jpg" width="100%">
                      </a>
                      <div class="caption">
                          <h3 class="text-muted">Repairing Of All of Hydraulic Jack & Pump</h3>
                          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                          <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                      </div>
                  </div>
               </div>

               <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox">
                        <img src="/static/image/service/800x600/Repaiting and Maintance of Rolling Shutter.jpg" width="100%">
                    </a>
                    <div class="caption">
                        <h3 class="text-muted">Repaiting and Maintance of Rolling Shutter</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                        <button type="button" class="btn btn-outline-info btn-lg btn-block"><a  style="text-decoration: none"; href="/contact"> Get Best Quote </a> </button>
                    </div>
                </div>
              </div>

              
            </div>
    
        </div>
    
    </div>
    
       
       <!-- end : image service -->
{% endblock body %}
